%h1 
  Curriculums:
  = @curriculums.count
  
.card-columns
  - @curriculums.each do |curriculum|
    =  render 'curriculums/curriculum', curriculum: curriculum

%br

= link_to 'New Curriculum', new_curriculum_path
