.jumbotron
  .display-4
    What do you want to learn today?
  %p
    %nav.navbar.navbar-light.bg-light
      %form.form-inline
        %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

%h2
  Popular curriculums
.card-columns
  - @curriculums.each do |curriculum|
    =  render 'curriculums/curriculum', curriculum: curriculum
%hr
%h2
  Top related curriculums
.card-columns
  - @curriculums.each do |curriculum|
    =  render 'curriculums/curriculum', curriculum: curriculum
%hr
%h2
  Latest curriculums
.card-columns
  - @latest_curriculums.each do |curriculum|
    =  render 'curriculums/curriculum', curriculum: curriculum